extends ./components/layout/index.pug

block content
    main.h-full
        h1.text-4xl Page Not Found
            p.text-lg Use the links above to find what you seek

block scripts
    script(src="./js/app.js") 