header.flex.items-center.justify-between.flex-wrap.p-4.text-white.tracking-tight.bg-primary 
        .div.grid.account-list__btn
                span.text-sm= `Welcome, ${name}` 
nav.bg-secondary.flex.p-4.text-white
        a(href='/').px-2 Home 
        a(href='/logout').px-2 Logout


