doctype html
html(lang="en")
    include head.pug
    body.h-screen.min-h-screen.bg-gray-100.flex.flex-col(class=formPage ? "justify-center" : "justify-between")
        if (!formPage)
            include header.pug
        block content
        include footer.pug
        script(src="/js/all.min.js" defer) 
        if formPage
            script(src="/js/forms.js") 
        block scripts